<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Page</h1>
    <hr/>

    <img src="hardik.jpg" alt="hardik" style="width: 500px; height: 700px;"/>
    <hr/>

    <h3>Name is <%= data.name%></h3>
    <h3>Email is <%= data.email%></h3>
    <h3>Age is <%= data.age%></h3>
</body>
</html>