<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <hr />

    <form action="/createUser" method="POST">
      <div>
        <label for="empName">Employee Name:</label>
        <input type="text" id="empName" name="empName" required />
      </div>
      <br /><br />
      <div>
        <label for="empEmail">Employee Email:</label>
        <input type="email" id="empEmail" name="empEmail" required />
      </div>
      <br /><br />
      <div>
        <label for="empPassword">Employee Password:</label>
        <input type="password" id="empPassword" name="empPassword" required />
      </div>
      <br /><br />
      <div>
        <label for="empMobile">Employee Mobile:</label>
        <input type="tel" id="empMobile" name="empMobile" required />
      </div>
      <br /><br />
      <div>
        <label for="empSalary">Employee Salary:</label>
        <input type="number" id="empSalary" name="empSalary" required />
      </div>
      <br /><br />
      <div>
        <label for="empRole">Employee Role:</label>
        <select id="empRole" name="empRole" required>
          <option value="" disabled selected>Select Role</option>
          <option value="frontend">Frontend</option>
          <option value="backend">Backend</option>
          <option value="fullstack">Fullstack</option>
          <option value="tester">Tester</option>
          <option value="manager">Manager</option>
        </select>
      </div>
      <br /><br />
      <div>
        <label for="empSalary">Employee DOB:</label>
        <input type="date" id="empDOB" name="empDOB" required />
      </div>
      <br /><br />

      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
