<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("cdn.ejs")%>
  </head>
  <body>
    <div class="container text-center mt-5 p-4 border rounded shadow">
      <h1>Welcome to One Piece World</h1>
      <hr />
      <a href="/addCharacter"><button>Add Characters</button></a>
      <a href="/view"><button>View Characters</button></a>
    </div>
  </body>
</html>
